<configuration>
    <include resource="io/micronaut/gcp/logging/logback-json-appender.xml"/>
    <root level="INFO">
        <appender-ref ref="${APPENDER_REF}"/>
    </root>
    <logger name="io.micronaut.http.client" level="INFO"/>
    <logger name="io.micronaut.context.condition" level="INFO"/>
    <logger name="io.micronaut.discovery" level="TRACE"/>
    <logger name="io.micronaut.aws" level="TRACE"/>
</configuration>
